
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
       /* body {
            background-color: #fefbd8;
        }*/

        /*h1 {
            background-color: aliceblue;
        }*/
/*
        div {
            background-color: ActiveBorder;
        }*/
    </style>
</head>
@*<body>

    <h1>Welcome to Review Management System</h1>
</body>*@
<body style="
        background-image: url('../../Content/bbb.jpg');
    ">

</body>
</html>

